* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  min-width: 250px;
  max-width: 800px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
footer {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;
}
footer ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
footer ul li {
  width: 7rem;
  height: 6rem;
}
footer ul li img {
  width: 100%;
}
